/* Box reset */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Mit Beistrich mehrere Selektoren gruppieren */
html,
body {
  margin: 0;
  padding: 0;
}

/* 'Fremde' Schriftart definiere das es sie gibt */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

html {
  /* 
   * Web safe fonts: https://www.w3schools.com/cssref/css_websafe_fonts.php
   * sind in jedem Browser verfügbar 
   */
  /* font-family: 'Trebuchet MS'; */

  /* Fremde/Eigene Schriftart zuweisen */
  font-family: 'Roboto';
  color: #0D0907;
  background-color: rgb(243, 243, 243);
}

section {
  padding: 60px 0;
}

a {
  text-decoration: none;
}

.link {
  cursor: pointer;
  font-weight: 700; /* Fett */
  color: #000;
  transition: all 300ms ease; /* Farb-Übergang animieren */
  border-bottom: 2px solid #000; /* 'Hack' für Springen bei hover */
}

.link:hover {
  color: #34495E; /* Whetasphalt */
  border-bottom: 2px solid #34495E;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 25px;
  background-color: #F39C12; /* Orange */
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #F1C40F; /* Sunflower */
}

#ads {
  height: 100px;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Abstand zwischen den einzelnen Children */
}

#ads img {
  max-height: 100%; /* Bilder nur so hoch wie der Ads-Container, sonst fließen sie darüber hinaus! */
}

nav {
  background-color: #1ABC9C;
  padding: 15px;
  /* background: url('../images/claim.png'); Mit ../ aus den styles ordner hinauf und dann in den images ordner */
}

.nav-top {
  position: sticky; /* Navbar an Oberkante vom Browser fixieren */
  top: 0;
}

.nav-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Auf Y-Achse zentrieren */
}

.nav-bot {
  padding: 25px 0;
  display: flex;
  justify-content: center; /* Auf X-Achse zentriert */
}

nav .link {
  margin-left: 25px;
  margin-right: 25px;
  padding: 3px;
  border-color: transparent;

  /* Kurzschreibweisen:
  margin: 25px; Für alle vier Richtungen margin gleichzeitig angeben 
  margin: 0 25px 0 25px; /* Kann auch alle vier Werte separat angeben 
  margin: 0 25px; 
  */
}

nav img {
  height: 25px;
}

.container {
  padding: 0 10px;
  max-width: 960px;
  margin: 0 auto; /* block-Element zentrieren */
}

img {
  max-width: 100%;
  height: auto;
}

.img-box + .img-box {
  margin-top: 30px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -10px;
  top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  border: 1px solid #34495E;
}

.dropdown-content .link {
  margin-top: 5px;
  margin-bottom: 5px;
} 

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS Animation - Definieren */
@keyframes blinking {
  50% {
    opacity: 0.0;
  }
}

/* CSS Animation - Zuweisung einer Klasse (kann dann wiederverwendet werden) */
.blink {
  /* Shorthand */
  /* animation: blinking 1s step-start 0s infinite; */

  /* Lang */
  animation-name: blinking;
  animation-timing-function: step-start;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* Media Query */
@media (min-width: 600px) {
  /* Alles in dieser Klammer wird ab 600px Bildschrimbreite angewendet */

  .img-box {
    display: flex;
    gap: 2%;
  }
  
  /* Für zwei Items ausgelegt, daher width fast 50:50 */
  .img-box > * {
    width: 49%;
  }

  .img-box-text p {
    margin-top: 0;
  }

  .img-box.img-right img {
    order: 1;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 25px;
  }
}


/* 
 * Dieses Media Query (MQ) wird nur angewendet wenn der User 
 * 'Bewegung reduzieren" (o.Ä; je nach OS) in seinen Systemeinstellungen nicht abgeschaltet hat.
 */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smooth scrolling für das ganze HTML setzen */
  }
}